body {
    background-color: rgb(242, 228, 242); /*de achtergrondkleur van de pagina*/

    background-image: url("Images/background.jpg") /*dit is hoe je een achtergrond plaatje invoegt*/
}
ul {
  list-style-type: none;
  margin: 0%; /*ruimte om de rand van het menu tot aan de bovenkant van de pagina*/
  padding: 0; /*de ruimte van de tekst tot de rand van de zijkant*/
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left; /*waar de tekst ongeveer moet verzamelen*/
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #fcc1d9; /*de kleur van het blok als je met je muis erover heen gaat*/
}

