body {
    background-color: rgb(242, 228, 242); /*de achtergrondkleur van de pagina*/

    padding-left: 10%;
    background-image: url("Images/background.jpg") /*dit is hoe je een achtergrond plaatje invoegt*/
}

header {
padding: 0px;
margin: 0px;
}

ul {
  position: fixed;
  list-style-type: none;
  margin: 0; /*ruimte om de rand van het menu tot aan de bovenkant van de pagina*/
  padding: 0; /*de ruimte van de tekst tot de rand van de zijkant*/
  overflow: hidden;
  background-color: #ffffff;
  top: 0;
  width: 100%;
}


li {
  float: left; /*waar de tekst ongeveer moet verzamelen*/
}

li a {
  display: block;
  color: rgb(0, 0, 0); /*de kleur van de tekst in het menu*/
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

li a:hover {
  background-color: #fcc1d9; /*de kleur van het blok als je met je muis erover heen gaat*/
}

.indexhtml{
  width: 50%;
}
