body {
    background-color: rgb(228, 242, 242);

    background-image: url(image\ copy.png); 
}
ul {
  list-style-type: none;
  margin: 0; /*ruimte om de rand van het menu*/
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #7d85e2;
}

.p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;}

